.loginBox{
    width: 500px;
    padding: 20px 20px;
    border: 1px solid #e5e5e5;
    margin: 400px auto;
}
.centerContainer{
    height: 100%;
    overflow: auto;
    .at-button{
        background: linear-gradient(60deg, #FFB199 0%, #FF544F 100%);
        border: none;
        margin: 20px 20px 0 20px;
    }
}
.mineUserInfo{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .avatar{
      width: 120px;
      height: 120px;
      margin: 120px auto 0 auto;
    }
    .center-github-box{
        text-align: center;
        font-size: 28px;
        color:#FF544F;
    }
    .center-info-box{
      width: 90%;
      margin: 0 auto 10px auto;
      display: flex;
      font-size: 28px;
      justify-content: space-between;
      align-items: center;
      .center-info-text{
        color: #FF544F;
      }
    }
  }