.publishContainer{
    height: 100%;
    .form{
        padding: 20px;
    }
    .titleInput{
        margin-left: 0;
    }
    .picker{
        font-size: 32px;
    }
    .contentInput{
        margin-top: 40px;
    }
    .submitBtn{
        margin: 40px 100px;
    }
    .loginTip{
        text-align: center;
        font-size: 28px;
        position: relative;
        top: 100px;
    }
    .login-text{
        color: #FF544F
    }
}