.topicListBox{
    background-color: #FFF;
    text-align: center;
}
.homepage{
    margin-bottom: 122px;
}
.loadmore{
    margin-top: 10px;
    .at-load-more{
        height: initial;
        .at-button{
            height: 60px !important;
            border: none !important;
        }
    }
    .at-button__text{
        font-size: 28px !important;
        line-height: 60px !important;
    }
}
.loadmore-loading .at-load-more{
    height: 40px;
    margin-top: 10px;
}