.taro_router,.taro_page{
    height: 100%;
}
.at-tab-bar{
    height: 112px !important;
}
.at-tab-bar__item{
    padding: 0 !important;
}
.markdown-text{
    margin-top: 5px;
    font-size: 30px;
    img{
        margin: auto;
        max-width: 100% !important;
    }
    a{
      display: inline-block;
      word-wrap:break-word;
      max-width: 100%;
      color:#4078c0;
      &:hover{
        color:#4078c0;
      }
    }
    p{
      max-width: 100% !important;
      white-space: normal;
      word-break: break-all;
    }
    li{
      list-style:none;
    }
    code{
    white-space: normal;
    word-break: break-all;
    }
    .wxParse-img{
        margin: auto;
        max-width: 100% !important;
    }
}